nav {
  justify-content: center !important;
}

#mapid {
  height: 80vh;
}

#map-container {
  height: 80vh;
}

button:focus,
button:hover,
input:focus,
input:hover {
  outline: none !important;
  box-shadow: none !important;
}

.leaflet-tooltip{
  width: 250px !important;
  white-space: normal !important;
}